@page "/post/{route}"
@using SharedClasses.Interfaces
@using SharedClasses.Models.BlogModels

@rendermode InteractiveAuto
@inject PersistentComponentState ApplicationState
@inject IPostPageDAL DAL
@implements IDisposable

@if(post is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin">
        <div class="mb-3, text-center">
            <a class="btn btn-outline-dark" href="/EditPost/@post.Id">Edit Post</a>
        </div>
    </AuthorizeView>
    <h1>@post.Title</h1>
    @if (post.Text is not null)
    {
    <div>
        @((MarkupString)post.Text)
    </div>
    }

    <a class="btn btn-outline-dark" href="/blog/@post.Blog.Route">Back to Blog</a>
}


@code {
    [Parameter]
    public string? Route{ get; set; }
    private PersistingComponentStateSubscription persistingSubscription;
    private Post? post;

    protected async override Task OnParametersSetAsync()
    {
        persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<Post?>(
            "Post", out Post? restored))
        {
            if (Route is not null)
            {
                post = await DAL.GetPostFromRouteAsync(Route);
            }
        }
        else
        {
            post = restored!;
        }
    }

    private Task PersistData()
    {
    ApplicationState.PersistAsJson("Post", post);

    return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
    persistingSubscription.Dispose();
    }
}
