@page "/ManageBlog/{Route}"
@using SharedClasses.Models.BlogModels
@inject ManageBlogPageDataService ds

@if (blog == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@blog.Title</h1>
    <p>@blog.Description</p>

    <button class="btn btn-primary">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Add Post
    </button>
    @if(blog.Posts == null || blog.Posts.Count == 0)
    {
        <p>No posts</p>
    }
    else
    {
        @foreach(var post in blog.Posts)
        {
            <p>@post.Title</p>
        }
    }
}
<a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="ManageBlogs">Return to Manage Blogs</a>
@code {
    [Parameter]
    public string? Route { get; set; }

    private Blog? blog;

    protected async override Task OnParametersSetAsync()
    {
        if (Route != null)
        {
            blog = await ds.GetBlogByRouteAsync(Route);
        }
    }
}
