@page "/ManageBlogs"

@rendermode InteractiveServer
@using Server.Data
@using SharedClasses.Models.BlogModels
@inject ManageBlogsPageDataService ds

@attribute [Authorize(Roles ="Admin")]

<h3>Manage Blogs</h3>
<p>A list of blogs on this site. You can add, edit, update and delete blogs here.</p>


@if (Blogs == null)
{
    <p>...loading</p>
}
else
{
    <span class="error">@ErrorDetails</span>

}

<style>
    .error {
        color: red;
    }
</style>
@code 
{
    public string ErrorDetails = "";
    public static List<Blog>? Blogs { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Blogs = await ds.GetBlogsAsync();
    }
}
